<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: tni_head" />
<body>
<div th:replace="fragments :: tni_menu" />
<div class="container" style="display: flex; height: 100px;">
    <div class="tbl-container" style="margin-left: 35px; margin-right: 15px; width: 30%" >
        <h4>Create New Site</h4>
        <br />
        <form action="#" th:action="@{/tni/sites}" th:object="${siteDto}" method="post">

            <!--<img src="./img/save.png" alt="..." style="width: 25px; height: 25px" type="submit" name="action" value="single-site"   >
            <button class="btn" type="submit" name="action" value="single-site"  >
                <img src="../img/save.png" width="30" />
            </button>-->


            <!-- Modal -->

            <table border="0" cellpadding="10" class="table table-striped">
                <tr>
                    <td><label>Name:</label></td>
                    <td><input class="form-control" type="text" th:field="*{name}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td><select th:field="*{type}" class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option th:each="i : ${siteTypeList}" th:value="${i}" th:text="${i}"></option>
                    </select></td>
                    <!--<td><input type="text" th:field="*{type}" aria-describedby="basic-addon3"/></td>-->
                </tr>
                <tr>
                    <td>Status:</td>
                    <td><select th:field="*{status}" class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                        <option th:each="j : ${statusList}" th:value="${j}" th:text="${j}"></option>
                    </select></td>
                    <!--<td><input type="text" th:field="*{status}" aria-describedby="basic-addon3"/></td>-->
                </tr>
                <tr>
                    <td>Latitude:</td>
                    <td><input class="form-control" type="text" th:field="*{latitude}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Longitude:</td>
                    <td><input class="form-control" type="text" th:field="*{longitude}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Address1:</td>
                    <td><input class="form-control" type="text" th:field="*{address1}" aria-describedby="basic-addon3"/></td>
                </tr> <tr>
                <td>Address2:</td>
                <td><input class="form-control" type="text" th:field="*{address2}" aria-describedby="basic-addon3"/></td>
            </tr>
                <tr>
                    <td>City:</td>
                    <td><input class="form-control" type="text" th:field="*{city}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input class="form-control" type="text" th:field="*{state}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input class="form-control" type="text" th:field="*{country}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>PIN:</td>
                    <td><input class="form-control" type="number" th:field="*{pin}" aria-describedby="basic-addon3"/></td>
                </tr>
            </table>
            <br/>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="create-site" class="btn btn-primary">Create</button></div>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="search-site" class="btn btn-primary">Search</button></div>
        </form>
    </div>
    <div class="tbl-container" style="flex-grow: 1; width: 60%" >
<!--        <table border="1" cellpadding="10" class="table table-striped">-->
        </div>
        <table th:if="${not #lists.isEmpty(sites)}" border="1" cellpadding="10" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="site : ${sites}">
                <!--<td th:text="${site.name}">-->
                <td>
                    <div th:replace="fragments :: tni_modal" />
                    <a href="#" th:text="${site.name}" data-toggle="modal" data-target="#siteModal">Name</a>
                </td>
                <td th:text="${site.type}">Type</td>
                <td th:text="${site.status}">Status</td>
            </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(sites)}" style="color: red">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
<div th:replace="fragments :: tni_footer" />
</body>
</html>