<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:fragment="tni_head">
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>Telecom Network Inventory</title>
    <style>
        body {}
        .container{
        margin-left:5%;
        }
        .tbl-container {
            max-width: fit-content;
            max-height: fit-content;
            padding-right: 30p%;
        }
        .tbl-fixed {
            overflow-x: scroll;
            overflow-y: scroll;
            height: fit-content;
            max-height: 80vh;
            max-width: 70pz;
        }
        table {}
        table th {
            position: sticky;
            top: 0px;
            background: #5A5A5A;
            text-align: center;
            color: #fff;
            border: 1px solid #ccc;
            font-size: 16px;
        }
        .dtv-footer {
            position: fixed;
            width: 100%;
            bottom: 0;
            right: 0;
        }
        .error{
            color: red;
        }
    </style>
</head>
<body>
<div th:fragment="tni_menu">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Telecom Network Inventory</a>
        </div>
        <div sec:authorize="hasAnyAuthority('ADMIN')">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/tni">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory Objects<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tni/site">Site</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/shelf">Shelf</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/slot">Slot</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/card">Card</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/port">Port</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Load Data <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tni/loadMaster">Load Master</a></li>
                        <li class="divider"></li>
<!--                        <li><a href="/tni/loadManual">Load Manual</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tni/truncate">Truncate Table</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">User Management</li>
                        <li><a href="/newUser">Create New User</a></li>
                        <li><a href="/allUsers">All Users</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div sec:authorize="hasAnyAuthority('USER')">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/tni">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory Objects<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tni/site">Site</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/shelf">Shelf</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/slot">Slot</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/card">Card</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/port">Port</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <div sec:authorize="hasAnyAuthority('SUPERUSER')">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/tni">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory Objects<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tni/site">Site</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/shelf">Shelf</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/slot">Slot</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/card">Card</a></li>
                        <li class="divider"></li>
                        <li><a href="/tni/port">Port</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Load Data <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tni/loadMaster">Load Master</a></li>
                        <li class="divider"></li>
<!--                        <li><a href="/tni/loadManual">Load Manual</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span sec:authentication="name" class="glyphicon glyphicon-user"> Username</span></a></li>
            <li><a href="#"><span sec:authentication="principal.authorities">Roles</span></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
</div>

<div th:fragment="tni_modal">

</div>

<div th:fragment="tni_footer" class="dtv-footer" data-role="footer" data-position="fixed">
    <p>Copyright @ Adithyaa GA</p>
</div>
</body>
</html>