<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: tni_head" />
<body>
<div th:replace="fragments :: tni_menu" />
<div class="container tbl-container" >
	<br>
	<div class="container tbl-container">
		<br>
		<h3>Welcome to the Telecom Inventory System</h3>
		<p>This is the homepage of the Telecom Inventory System. You can use the navigation menu above to access different sections of the application.</p>
		<p>Feel free to explore and manage your telecom equipment and resources!</p>
	</div>
</div>
<div th:replace="fragments :: tni_footer" />
</body>
</html>