<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: tni_head" >

    <script>
         $(document).ready(function() {
            // Hide the "Create New Site" form initially
            $(".create-site-form").hide();

            // Attach click event handler to site names
            $(".site-name").click(function(e) {
                e.preventDefault(); // Prevent default link behavior
                $(".create-site-form").show(); // Show the "Create New Site" form
            });
        });
    </script>

</head>
<body>
<div th:replace="fragments :: tni_menu" />
<div class="container" style="margin-left: 45px;display: flex;height: 100px;margin-top:68px;flex-direction: column;flex-wrap: wrap;justify-content: space-between;align-content: stretch;align-items: center;">
    <div class="tbl-container" style="margin-left: 0px; margin-right: 15px width: 30%" >
        <h4 style="padding: 10px;margin: auto;background: #5A5A5A;color: #fff;border: 1px solid #ccc;">Site</h4>

        <br />
        <form action="#" th:action="@{/tni/sites}" th:object="${siteDto}" method="post">

            <!--<img src="./img/save.png" alt="..." style="width: 25px; height: 25px" type="submit" name="action" value="single-site"   >
            <button class="btn" type="submit" name="action" value="single-site"  >
                <img src="../img/save.png" width="30" />
            </button>-->

            <table border="0" cellpadding="10" class="table table-striped">
                <tr>
                    <td><label>Site Name:</label></td>
                    <td><input class="form-control" type="text" th:field="*{siteName}" aria-describedby="basic-addon3"/>
                        <p th:if="${#fields.hasErrors('siteName')}" th:errorclass="error" th:errors="*{siteName}" />
                </tr>
                <tr>
                    <td>Site Type:</td>
                    <td><select th:field="*{siteType}" class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option th:each="i : ${siteTypeList}" th:value="${i}" th:text="${i}"></option>
                    </select>
                        <p th:if="${#fields.hasErrors('siteType')}" th:errorclass="error" th:errors="*{siteType}" />
                        <!--<td><input type="text" th:field="*{type}" aria-describedby="basic-addon3"/></td>-->
                </tr>
                <tr>
                    <td>Status:</td>
                    <td><select th:field="*{status}" class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                        <option th:each="j : ${statusList}" th:value="${j}" th:text="${j}"></option>
                    </select>
                        <p th:if="${#fields.hasErrors('status')}" th:errorclass="error" th:errors="*{status}" />
                        <!--<td><input type="text" th:field="*{status}" aria-describedby="basic-addon3"/></td>-->
                </tr>
                <tr>
                    <td>Latitude:</td>
                    <td><input class="form-control" type="text" th:field="*{latitude}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Longitude:</td>
                    <td><input class="form-control" type="text" th:field="*{longitude}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Address1:</td>
                    <td><input class="form-control" type="text" th:field="*{address1}" aria-describedby="basic-addon3"/></td>
                </tr> <tr>
                <td>Address2:</td>
                <td><input class="form-control" type="text" th:field="*{address2}" aria-describedby="basic-addon3"/></td>
            </tr>
                <tr>
                    <td>City:</td>
                    <td><input class="form-control" type="text" th:field="*{city}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input class="form-control" type="text" th:field="*{state}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input class="form-control" type="text" th:field="*{country}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Pin:</td>
                    <td><input class="form-control" type="number" th:field="*{pin}" aria-describedby="basic-addon3"/></td>
                </tr>
                <input class="form-control" th:value="${#authentication.name}" th:field="*{createdBy}" name="createdBy" type="hidden" />
            </table>
            <br/>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="create-site" class="btn btn-primary">Create</button></div>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="search-site" class="btn btn-primary">Search</button></div>
        </form>
    </div>
    <br>
    <div class="table-responsive" style="flex-grow: 1;margin-left: 60px;margin-right: 53px;width: 90%;min-height: 347pt;" >
        <h4 style="padding: 10px;margin: auto;background: #5A5A5A;color: #fff;border: 1px solid #ccc;">Search Results</h4>
        <br />
        <table border="1" cellpadding="10" class="table table-striped" th:unless="${error}">
            <thead>
            <tr>
                <th>Site Name</th>
                <th>Site Type</th>
                <th>Status</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Pin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="site : ${sites}">
                <td>
                    <div th:replace="Search_site :: tni_modal" />
                    <a href="#" th:text="${site.siteName}" data-toggle="modal" data-target="#siteModal">Site Name</a>
                </td>
                <td th:text="${site.siteType}">Site Type</td>
                <td th:text="${site.status}">Status</td>
                <td th:text="${site.latitude}">Latitude</td>
                <td th:text="${site.longitude}">Longitude</td>
                <td th:text="${site.address1}">Address1</td>
                <td th:text="${site.address2}">Address2</td>
                <td th:text="${site.city}">City</td>
                <td th:text="${site.state}">State</td>
                <td th:text="${site.country}">Country</td>
                <td th:text="${site.pin}">Pin</td>
            </tr>
            </tbody>
        </table>
        <p th:if="${error}" class="error" th:text="${error}"></p>
    </div>
</div>
<div th:replace="fragments :: tni_footer" />
</body>
</html>