<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: tni_head">
    <script>

    </script>
</head>
<body>
<div th:replace="fragments :: tni_menu"/>
<div class="container" style="margin-left: 45px;display: flex;height: 100px;margin-top:68px;flex-direction: column;flex-wrap: wrap;justify-content: space-between;align-content: stretch;align-items: center;">
    <div class="tbl-container" style="margin-left: 0px; margin-right: 15px width: 30%" >
        <h4 style="padding: 10px;margin: auto;background: #5A5A5A;color: #fff;border: 1px solid #ccc;">Card</h4>
        <br/>
        <form action="#" th:action="@{/tni/cards}" th:object="${cardDto}" method="post">

            <!--<img src="./img/save.png" alt="..." style="width: 25px; height: 25px" type="submit" name="action" value="single-site"   >
            <button class="btn" type="submit" name="action" value="single-site"  >
                <img src="../img/save.png" width="30" />
            </button>-->

            <table border="0" cellpadding="10" class="table table-striped">
                <tr>
                    <td><label>Card Name:</label></td>
                    <td><input class="form-control" type="text" th:field="*{cardName}" aria-describedby="basic-addon3"/>
                        <p th:if="${#fields.hasErrors('cardName')}" th:errorclass="error" th:errors="*{cardName}" /></td>
                </tr>
                <tr>
                    <td>Card Serial Number:</td>
                    <td><input class="form-control" type="text" th:field="*{cardSerialNumber}" aria-describedby="basic-addon3"/>
                        <p th:if="${#fields.hasErrors('cardSerialNumber')}" th:errorclass="error" th:errors="*{cardSerialNumber}" /></td>
                </tr>
                <tr>
                    <td>Network ID:</td>
                    <td><input class="form-control" type="text" th:field="*{networkId}" aria-describedby="basic-addon3"/>
                        <p th:if="${#fields.hasErrors('networkId')}" th:errorclass="error" th:errors="*{networkId}" /></td>
                </tr>
<!--                <tr>-->
<!--                    <td>Slot ID:</td>-->
<!--                    <td><input class="form-control" type="text" th:field="*{slotId}" aria-describedby="basic-addon3"/>-->
<!--                        <p th:if="${#fields.hasErrors('slotId')}" th:errorclass="error" th:errors="*{slotId}" /></td>-->
<!--                </tr>-->
                <tr>
                    <td>Slot Name:</td>
                    <td><input class="form-control" type="text" th:field="*{slotName}" aria-describedby="basic-addon3"/>
                        <p th:if="${#fields.hasErrors('slotName')}" th:errorclass="error" th:errors="*{slotName}" /></td>
                </tr>
<!--                <tr>-->
<!--                    <td>Shelf ID:</td>-->
<!--                    <td><input class="form-control" type="text" th:field="*{shelfId}" aria-describedby="basic-addon3"/>-->
<!--                        <p th:if="${#fields.hasErrors('shelfId')}" th:errorclass="error" th:errors="*{shelfId}" /></td>-->
<!--                </tr>-->
                <tr>
                    <td>Shelf Name:</td>
                    <td><input class="form-control" type="text" th:field="*{shelfName}" aria-describedby="basic-addon3"/>
                        <p th:if="${#fields.hasErrors('shelfName')}" th:errorclass="error" th:errors="*{shelfName}" /></td>
                </tr>
<!--                <tr>-->
<!--                    <td>Parent Site ID:</td>-->
<!--                    <td><input class="form-control" type="text" th:field="*{parentSiteId}" aria-describedby="basic-addon3"/>-->
<!--                        <p th:if="${#fields.hasErrors('parentSiteId')}" th:errorclass="error" th:errors="*{parentSiteId}" /></td>-->
<!--                </tr>-->
                <tr>
                    <td>Parent Site Name:</td>
                    <td><input class="form-control" type="text" th:field="*{parentSiteName}" aria-describedby="basic-addon3"/>
                        <p th:if="${#fields.hasErrors('parentSiteName')}" th:errorclass="error" th:errors="*{parentSiteName}" /></td>
                </tr>
                <input class="form-control" th:value="${#authentication.name}" name="createdBy" type="hidden" />
            </table>
            <br/>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="create-card" class="btn btn-primary">Create</button></div>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="search-card" class="btn btn-primary">Search</button></div>
        </form>
    </div>
    <div class="table-responsive" style="flex-grow: 1;margin-left: 60px;margin-right: 53px;width: 90%;min-height: 347pt;" >
        <h4 style="padding: 10px;margin: auto;background: #5A5A5A;color: #fff;border: 1px solid #ccc;">Search Results</h4>
        <br />
        <table border="1" cellpadding="10" class="table table-striped" th:unless="${error}">
            <thead>
            <tr>
                <th>Card Name</th>
                <th>Card Serial Number</th>
                <th>Network ID</th>
                <th>Slot ID</th>
                <th>Slot Name</th>
                <th>Shelf ID</th>
                <th>Shelf Name</th>
                <th>Parent Site ID</th>
                <th>Parent Site Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="card : ${cards}">
                <td>
                    <div th:replace="fragments :: tni_modal"/>
                    <a href="#" th:text="${card.cardName}" data-toggle="modal" data-target="#cardModal">Card Name</a>
                </td>
                <td th:text="${card.cardSerialNumber}">Card Serial Number</td>
                <td th:text="${card.networkId}">Network ID</td>
                <td th:text="${card.slotId}">Slot ID</td>
                <td th:text="${card.slotName}">Slot Name</td>
                <td th:text="${card.shelfId}">Shelf ID</td>
                <td th:text="${card.shelfName}">Shelf Name</td>
                <td th:text="${card.parentSiteId}">Parent Site ID</td>
                <td th:text="${card.parentSiteName}">Parent Site Name</td>
            </tr>
            </tbody>
        </table>
        <p th:if="${error}" class="error" th:text="${error}"></p>
    </div>
</div>
<div th:replace="fragments :: tni_footer"/>
</body>
</html>