<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: tni_head" />
<body>
<div th:replace="fragments :: tni_menu" />
<div class="container" style="display: flex; height: 100px;">
    <div class="tbl-container" style="margin-left: 50px; margin-right: 15px width: 30%" >
        <h4>Slot</h4>
        <br />
        <form action="#" th:action="@{/tni/slots}" th:object="${slotDto}" method="post">

            <table border="0" cellpadding="10" class="table table-striped">
                <tr>
                    <td><label>Slot Name:</label></td>
                    <td><input class="form-control" type="text" th:field="*{slotName}" aria-describedby="basic-addon3"/></td>
                </tr>
<!--                <tr>-->
<!--                    <td>Parent Shelf Id:</td>-->
<!--                    <td><input class="form-control" type="number" th:field="*{parentShelfId}" aria-describedby="basic-addon3"/></td>-->
<!--                </tr>-->
                <tr>
                    <td>Parent Shelf Name:</td>
                    <td><input class="form-control" type="text" th:field="*{parentShelfName}" aria-describedby="basic-addon3"/></td>
                </tr>
<!--                <tr>-->
<!--                    <td>Parent Site Id:</td>-->
<!--                    <td><input class="form-control" type="number" th:field="*{parentSiteId}" aria-describedby="basic-addon3"/></td>-->
<!--                </tr>-->
                <tr>
                    <td>Parent Site Name:</td>
                    <td><input class="form-control" type="text" th:field="*{parentSiteName}" aria-describedby="basic-addon3"/></td>
                </tr>
            </table>
            <br/>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="create-slot" class="btn btn-primary">Create</button></div>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="search-slot" class="btn btn-primary">Search</button></div>
        </form>
    </div>
    <div class="tbl-container" style="flex-grow: 1; margin-left: 5px; margin-right: 50px; width: 30%" >
        <table th:if="${not #lists.isEmpty(slots)}" border="1" cellpadding="10" class="table table-striped">
            <thead>
            <tr>
                <th>Slot Name</th>
                <th>Parent Shelf Id</th>
                <th>Parent Shelf Name</th>
                <th>Parent Site Id</th>
                <th>Parent Site Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="slot : ${slots}">
                <td>
                    <div class="modal fade" th:id="${'slotModal-' + slot.slotId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Slot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" th:action="@{/tni/slots}" th:object="${slotDto}" method="post" id="updateForm">
                                        <div class="form-group">
                                            <label for="slotNameInput">Slot Name</label>
                                            <input type="text" class="form-control" id="slotNameInput" name="slotName" th:value="${slot.slotName}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="slotIdInput">Slot Id</label>
                                            <input type="text" class="form-control" id="slotIdInput" name="slotId" th:value="${slot.slotId}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="parentShelfIdInput">Parent Shelf Id</label>
                                            <input type="text" class="form-control" id="parentShelfIdInput" name="parentShelfId" th:value="${slot.parentShelfId}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="parentShelfNameInput">Parent Shelf Name</label>
                                            <input type="text" class="form-control" id="parentShelfNameInput" name="parentShelfName" th:value="${slot.parentShelfName}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="parentSiteIdInput">Parent Site Id</label>
                                            <input type="text" class="form-control" id="parentSiteIdInput" name="parentSiteId" th:value="${slot.parentSiteId}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="parentSiteNameInput">Parent Site Name</label>
                                            <input type="text" class="form-control" id="parentSiteNameInput" name="parentSiteName" th:value="${slot.parentSiteName}" />
                                        </div>
                                        <!-- Add other attributes of Slot here -->

                                        <input type="hidden" name="slotId" th:value="${slot.slotId}" />
                                        <div class="btn btn-primary btn-lg">
                                            <button type="submit" name="action" value="update-slot" class="btn btn-primary">Update</button>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" th:text="${slot.slotName}" data-toggle="modal" th:data-target="${'#slotModal-' + slot.slotId}">Slot Name</a>
                </td>
                <td th:text="${slot.parentShelfId}"></td>
                <td th:text="${slot.parentShelfName}"></td>
                <td th:text="${slot.parentSiteId}"></td>
                <td th:text="${slot.parentSiteName}"></td>
                <!-- Add other table data for Slot attributes -->
            </tr>
            </tbody>

        </table>
        <div th:if="${#lists.isEmpty(slots)}" style="color: red">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
<div th:replace="fragments :: tni_footer" />
</body>
</html>