<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: tni_head" />
<body>
<div th:replace="fragments :: tni_menu" />
<div class="container" style="display: flex; height: 100px;">
    <div class="tbl-container" style="margin-left: 50px; margin-right: 15px; width: 30%" >
        <h4>Port</h4>
        <br />
        <form action="#" th:action="@{/tni/ports}" th:object="${portDto}" method="post">
            <table border="0" cellpadding="10" class="table table-striped">
                <tr>
                    <td><label>Port Name:</label></td>
                    <td><input class="form-control" type="text" th:field="*{portName}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Port Type:</td>
                    <td><select th:field="*{portType}" class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option th:each="i : ${portTypeList}" th:value="${i}" th:text="${i}"></option>
                        </select>

                    <p th:if="${#fields.hasErrors('portType')}" th:errorclass="error" th:errors="*{portType}" />
                </tr>
                <tr>
                    <td>Ip Address:</td>
                    <td><input class="form-control" type="text" th:field="*{ipAddress}" aria-describedby="basic-addon3"/></td>
                </tr>
                <tr>
                    <td>Bandwidth:</td>
                    <td><select th:field="*{bandwidth}" class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option th:each="i : ${portBandwidthList}" th:value="${i}" th:text="${i}"></option>
                    </select>

                    <p th:if="${#fields.hasErrors('bandwidth')}" th:errorclass="error" th:errors="*{bandwidth}" />
                </tr>
                <tr>
                    <td>Trail:</td>
                    <td><input class="form-control" type="text" th:field="*{trail}" aria-describedby="basic-addon3"/></td>
                </tr>
<!--                <tr>-->
<!--                    <td>Parent Card Id:</td>-->
<!--                    <td><input class="form-control" type="number" th:field="*{parentCardId}" aria-describedby="basic-addon3"/></td>-->
<!--                </tr>-->
                <tr>
                    <td>Parent Card Name:</td>
                    <td><input class="form-control" type="text" th:field="*{parentCardName}" aria-describedby="basic-addon3"/></td>
                </tr>
            </table>
            <br/>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="create-port" class="btn btn-primary">Create</button></div>
            <div class="btn btn-primary btn-lg"><button type="submit" name="action" value="search-port" class="btn btn-primary">Search</button></div>
        </form>
    </div>
    <div class="tbl-container" style="flex-grow: 1; margin-left: 5px; margin-right: 50px; width: 30%" >
        <table th:if="${not #lists.isEmpty(ports)}" border="1" cellpadding="10" class="table table-striped">
            <thead>
            <tr>
                <th>Port Name</th>
                <th>Port Type</th>
                <th>Ip Address</th>
                <th>Bandwidth</th>
                <th>Trail</th>
                <th>Parent Card Id</th>
                <th>Parent Card Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="port : ${ports}">
                <td>
                    <div class="modal fade" th:id="${'portModal-' + port.portId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Port</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" th:action="@{/tni/ports}" th:object="${portDto}" method="post" id="updateForm">
                                        <div class="form-group">
                                            <label for="portNameInput">Port Name</label>
                                            <input type="text" class="form-control" id="portNameInput" name="portName" th:value="${port.portName}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="portIdInput">Port Id</label>
                                            <input type="text" class="form-control" id="portIdInput" name="portId" th:value="${port.portId}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="portTypeInput">Port Type</label>
                                            <input type="text" class="form-control" id="portTypeInput" name="portType" th:value="${port.portType}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ipAddressInput">IP Address</label>
                                            <input type="text" class="form-control" id="ipAddressInput" name="ipAddress" th:value="${port.ipAddress}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="bandwidthInput">Bandwidth</label>
                                            <input type="text" class="form-control" id="bandwidthInput" name="bandwidth" th:value="${port.bandwidth}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="trailInput">Trail</label>
                                            <input type="text" class="form-control" id="trailInput" name="trail" th:value="${port.trail}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="parentCardIdInput">Parent Card Id</label>
                                            <input type="text" class="form-control" id="parentCardIdInput" name="parentCardId" th:value="${port.parentCardId}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="parentCardNameInput">Parent Card Name</label>
                                            <input type="text" class="form-control" id="parentCardNameInput" name="parentCardName" th:value="${port.parentCardName}" />
                                        </div>
                                        <!-- Add other attributes of Port here -->

                                        <input type="hidden" name="portId" th:value="${port.portId}" />
                                        <div class="btn btn-primary btn-lg">
                                            <button type="submit" name="action" value="update-port" class="btn btn-primary">Update</button>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" th:text="${port.portName}" data-toggle="modal" th:data-target="${'#portModal-' + port.portId}">Port Name</a>
                </td>
                <td th:text="${port.portType}">Port Type</td>
                <td th:text="${port.ipAddress}">IP Address</td>
                <td th:text="${port.bandwidth}">Bandwidth</td>
                <td th:text="${port.trail}">Trail</td>
                <td th:text="${port.parentCardId}">Parent Card Id</td>
                <td th:text="${port.parentCardName}">Parent Card Name</td>
                <!-- Add other table data for Port attributes -->
            </tr>
            </tbody>

        </table>
        <div th:if="${#lists.isEmpty(ports)}" style="color: red">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
<div th:replace="fragments :: tni_footer" />
</body>
</html>